//_cover.scss

/* Cover */
  .cover {
    color: $waterblue-color;
    padding: 0 20px;
    margin-top: 200px;
  }
  .cover .btn-lg {
    color: $waterblue-color !important;
    padding: 10px 20px;
    font-weight: 400;
  }
